body {
    margin: 0;
    background-color: #ededdd;
}

body * {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.panel {
    position: relative;
}

.panel > * {
    position: absolute;
    top: 0px;
    left: 0px;
}